{{define "head"}}<title>Роботы</title>{{end}}
{{define "body"}}
<script type="text/javascript">
    window.onload = function () {
        if (window["WebSocket"]) {
            conn = new WebSocket("ws://localhost:5000/ws");

            conn.onopen = function () {
                console.log("WS is opened");
            };

            conn.onclose = function (evt) {
                console.log("WS is closed");
            };


            conn.onmessage = function (evt) {
                var msg = JSON.parse(evt.data);
                var id = msg.robot_id;
                console.log(id);
                console.log(msg);

                for (var key in msg) {
                    if (msg.hasOwnProperty(key)) {
                        console.log(key + " -> " + msg[key]);
                        var cell = document.getElementById(key + "_" + id);
                        console.log(cell)
                        if(cell) {
                            cell.innerHTML = msg[key];
                        }
                    }
                }
            };
        } else {
            console.log("Cannot open websocket");
        }
    };
</script>

<div>
    <table border="1">
        <tr>
            <th>Идентификатор робота</th>
            <th>Владелец робота</th>
            <th>Идентификатор родителя</th>
            <th>Избранное</th>
            <th>Активность</th>
            <th>Тикер</th>
            <th>Цена покупки</th>
            <th>Цена продажи</th>
            <th>Плановая дата запуска</th>
            <th>Плановая дата остановки</th>
            <th>Плановая доходность</th>
            <th>Фактическая доходность</th>
            <th>Кол-во сделок</th>
            <th>Дата активации</th>
            <th>Дата деактивации</th>
            <th>Дата регистрации</th>
            <th>Дата удаления</th>
        </tr>
        {{range $ind, $el := . }}
        <tr>
            <div id="robot_{{.RobotID}}">
                <td id="robot_id_{{.RobotID}}">{{$el.RobotID}}</td>
                <td id="owner_user_id_{{.RobotID}}">{{$el.OwnerUserID  }}</td>
                <td id="parent_robot_id_{{.RobotID}}">{{$el.ParentRobotID | printInt}}</td>
                <td id="is_favourite_{{.RobotID}}">{{$el.IsFavourite  }}</td>
                <td id="is_active_{{.RobotID}}">{{$el.IsActive     }}</td>
                <td id="ticker_{{.RobotID}}">{{$el.Ticker | printStr }}</td>
                <td id="buy_price_{{.RobotID}}">{{$el.BuyPrice   | printFloat }}</td>
                <td id="sell_price_{{.RobotID}}">{{$el.SellPrice  | printFloat  }}</td>
                <td id="plan_start_{{.RobotID}}">{{$el.PlanStart  | printTime  }}</td>
                <td id="plan_end_{{.RobotID}}">{{$el.PlanEnd    | printTime  }}</td>
                <td id="plan_yield_{{.RobotID}}">{{$el.PlanYield  | printFloat  }}</td>
                <td id="fact_yield_{{.RobotID}}">{{$el.FactYield  | printFloat  }}</td>
                <td id="deals_count_{{.RobotID}}">{{$el.DealsCount | printInt  }}</td>
                <td id="activated_at_{{.RobotID}}">{{$el.ActivatedAt | printTime  }}</td>
                <td id="deactivated_at_{{.RobotID}}">{{$el.DeactivatedAt | printTime}}</td>
                <td id="created_at_{{.RobotID}}">{{$el.CreatedAt  | printTime  }}</td>
                <td id="deleted_at_{{.RobotID}}">{{$el.DeletedAt  | printTime  }}</td>
            </div>
        </tr>
        {{end}}
    </table>
</div>
{{end}}
